<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnderecoList</title>
</head>
<body>
    {% for endereco in object_list %}
        <p>{{ endereco.cidade }}</p>
        <p>{{ endereco.estado }}</p>
        <p>{{ endereco.logradouro }}</p>
        <p>{{ endereco.bairro }}</p>
        <p>{{ endereco.numero }}</p>
        <p>{{ endereco.user }}</p>
        <p>{{ endereco.email }}</p>
        <p>{{ endereco.id}}</p>
        <br>
    {% endfor %}
</body>
</html>